<header class="jumbotron masthead">
  <div class="inner">
    <h1>Geek+Ple</h1>
    <p></p>
    <p class="">
      <a href="/nodejs" class="btn btn-primary btn-large">NodeJS</a>
      <a href="http://old.geekple.com/njs" class="btn btn-primary btn-large">Old NodeJSBrowser</a>
    </p>
  </div>

  <div class="bs-links">
    <ul class="quick-links">
    </ul>
    <ul class="quick-links">
    </ul>
  </div>
</header>
